*, *::after, *::before {
    box-sizing: border-box;
}
/*Main body content*/
body {
    background: gold;
}
.body {
    margin: 0;
    grid-template-columns: repeat(2, 4rem);
    grid-template-rows: 7rem, 2rem, 7rem;
    gap: .5rem;
    cursor: pointer;
    justify-content: center;
    padding-top: 1rem;
}
/*end*/

/*header and sub heading text*/
h3, p {
    padding-top: 1em;
    font-size: 3em;
    color: rgb(255, 255, 255);
    text-align: center;
}
/*end*/

/*push main content towards center of page*/
.clear {
    padding-top: 5em;
    margin-top: 5em;
}
/*end*/

/*height, width, position and border of the decks*/
.deck {
    height: 100%;
    width: 100%;
    border: 1px solid rgb(0, 0, 0);
    border-radius: .5rem;
    font-size: 3rem;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}
/*Add background color to computer& player decks*/
.computer-deck {
    background-color: rgb(17, 145, 60);
}

.player-deck {
    background-color: rgb(17, 21, 145);
}
/*------------------------------ deck end*/

/*Position text in between the two decks*/
.text {
    font-size: 3em;
    font-weight: 800;
    color: rgb(255, 255, 255);
    grid-column: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*-------------------------text end*/

/*cards before and after*/
.card {
    position: relative;
    height: 4em;
    width: 100%;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
}

.card.red {
    color: rgb(222, 27, 40);
}

.card.black {
    color: rgb(0, 0, 0);
}

.card::before,
.card::after {
    position: absolute;
    content: attr(data-value);
    font-size: 1rem;
}
.card::before {
    top: .5rem;
    left: .5rem;
}

.card::after {
    bottom: .5rem;
    right: .5rem;
    transform: rotate(180deg);
}
/*-----------------------card end*/